#sign__up-section {
    display: flex;
    color: #6b7c93;
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.left__module-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-height: 900px;
    background-color: #e4f2fd;
}

.left__module-topImages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task__tracker-img {
    max-width: 100%;
    position: relative;
    top: -66px;
    z-index: 1000;
}

.hand-img {
    max-width: 100%;
    margin-top: -187px;
}

.left__module-bottomContent {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left__bottom-text {
    margin-left: 8px;
    font-size: 12px;
    font-weight: 700;
    font-family: Open Sans, sans-serif;
    color: #394249;
}

.right__module-wrapper {
    min-height: 900px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right__closeModule-wrapper {
    width: 52px;
    height: 52px;
    position: absolute;
    right: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    bottom: 90%;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    background-color: rgba(160, 171, 186, 0.822);
}

.right__module-content {
    padding-top: 50px;
}

.right__module-subtitle {
    margin-top: 30px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 36px;
    font-family: Open Sans, sans-serif;
    color: #000;
}

.right__module-text {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat';
    color: #1991eb;
}
.right__module-text:hover {
    border-bottom: 1px solid #1991eb;
}

.right-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.email-desc {
    margin-top: 24px;
    margin-bottom: 4px;
    width: 456px;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    font-family: Open Sans, sans-serif;
    color: #323538;
}

.email-input {
    padding-left: 20px;
    padding-right: 60px;
    width: 376px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #b1b9c4;
    outline: none;
    font-size: 16px;
    text-align: left;
    font-family: Open Sans, sans-serif;
    color: #b1b9c4;
}
.email-input:focus {
    border: 1px solid #1991eb;
    color: #000;
}

.email-error-message {
    font-size: 12px;
    text-align: left;
    font-family: Open Sans, sans-serif;
    color: #ed1d41;
}

.password__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.password-desc {
    margin-top: 24px;
    margin-bottom: 4px;
    width: 456px;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    font-family: Open Sans, sans-serif;
    color: #323538;
}

.password-input {
    padding-left: 20px;
    padding-right: 60px;
    width: 376px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #b1b9c4;
    outline: none;
    font-size: 16px;
    text-align: left;
    font-family: Open Sans, sans-serif;
    color: #b1b9c4;
}

.password-image {
    position: absolute;
    top: 62px;
    right: 24px;
    cursor: pointer;
    -webkit-filter: invert(50%);
    filter: invert(50%);
}

.agreement-wrapper {
    margin-top: 16px;
}

.check-box {
    display: none;
}

.agreement-label {
    position: relative;
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    font-family: Open Sans, sans-serif;
}
.agreement-label::before {
    position: absolute;
    top: 0;
    left: -10px;
    content: '\F096';
    font-size: 21px;
    font-family: 'Font Awesome 5 Free';
}

.agreement__label-wrapper {
    margin-left: 16px;
    margin-top: 4px;
}

.agreement-link {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    color: #1991eb;
}

.agreement-label::after {
    position: absolute;
    top: 0;
    left: -10px;
    max-width: 0;
    font-size: 21px;
    font-family: 'Font Awesome 5 Free';
    overflow: hidden;
    content: '\F046';
    opacity: 0.5;
    transition: all 0.3s;
    color: #1991eb;
}

.agreement-btn {
    margin-top: 32px;
    margin-bottom: 52px;
    width: 444px;
    height: 64px;
    border: none;
    border-radius: 4px;
    font-family: var(--first-family);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    background-color: #1991eb;
    color: #fff;
}

.bottom-border {
    width: 552px;
    height: 1px;
    background-color: #dededf;
}

.bottom-desc {
    position: absolute;
    margin-top: -11px;
    margin-left: -88px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    font-family: Open Sans, sans-serif;
    color: #394249;
    background-color: #fff;
}

.trackers-2sd {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.trackers-wrapper {
    margin: 0 auto;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trackers-items {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.item-logo {
    margin-right: 12px;
    width: 70px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #e3e4e6;
    border-radius: 4px;
    background-color: #fff;
}

.item-link {
    text-decoration: none;
    background-color: transparent;
    color: #6b7c93;
}

.last__item-logo {
    margin-right: 0;
    width: 70px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #e3e4e6;
    border-radius: 4px;
    background-color: #fff;
}

@media screen and (max-width: 1500px) {
    .task__tracker-img {
        top: -110px;
    }

    .left__bottom-text {
        font-size: 10px;
    }
}

@media screen and (max-width: 1060px) {
    .left__bottom-text {
        font-size: 8px;
    }
}

@media screen and (max-width: 980px) {
    .left__module-wrapper {
        display: none;
    }

    .right__module-wrapper {
        width: 100%;
        height: 700px;
    }

    .right__module-content {
        padding-top: 0;
    }
}

@media screen and (max-width: 600px) {
    .right__module-wrapper {
        width: 100%;
    }

    .right__closeModule-wrapper {
        right: 32px;
    }

    .email__input-wrapper,
    .password__input-wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .email-desc,
    .password-desc {
        width: 65%;
        margin: 24px auto 4px;
    }

    .email-input,
    .password-input {
        width: 60%;
        margin: 0 auto;
    }

    .password-image {
        right: 120px;
    }

    .agreement-wrapper {
        position: relative;
        margin: 16px auto 0;
        width: 60%;
    }

    .agreement-text {
        width: 80%;
        margin: 0 auto;
    }

    .checkbox {
        align-self: flex-start;
        margin-top: 3px;
        margin-right: 0;
    }

    .agreement-btn {
        width: 308px;
        height: 58px;
    }

    .trackers-2sd {
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px auto;
        width: 80%;
    }

    .trackers-items {
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px auto;
        width: 80%;
    }

    .item-logo,
    .last__item-logo {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 460px) {
    .right__module-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .right__closeModule-wrapper {
        right: 18px;
        top: 14px;
        z-index: 1000;
    }

    .right__module-content {
        margin-top: -118px;
        padding-top: 0;
    }

    .right__module-subtitle {
        font-size: 30px;
    }

    .right__module-text {
        font-size: 15px;
    }

    .right__form-wrapper {
        width: 93%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 385px) {
    .right__module-subtitle {
        width: 65%;
        margin: 40px auto 24px;
    }
}

@media screen and (max-width: 372px) {
    .right__module-content {
        padding-top: 90px;
    }

    .right__closeModule-wrapper {
        display: none;
    }

    .right__form-wrapper {
        width: 85%;
    }
}

@media screen and (max-width: 320px) {
    .right__module-content {
        max-width: 500px;
    }

    .agreement-btn {
        max-width: 250px;
    }
}

@media screen and (max-width: 320px) {
    .right__module-content {
        max-width: 400px;
    }

    .email-input,
    .password-input {
        width: 75%;
    }
}
