.presentation__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.presentation__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item__desc {
    font-family: var(--first-family);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
    color: #2b323e;
    margin-top: 1.25rem; /*20px*/
}

.item__text {
    font-family: var(--second-family);
    margin-bottom: 1rem; /*16px*/
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 150%;
    color: #73787c;
    max-width: 19.375rem; /*310px*/
}

.presentation__item-list {
    margin: 3.125rem; /*50px*/
    display: flex;
    justify-content: center;
}

.presentation__item-list img {
    width: 5.5rem;
    height: 5.5rem;
    object-fit: cover;
}

@media (max-width: 1085px) {
    .presentation__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 56.25rem) /* 900px */ {
    .presentation__list-wrapper {
        margin: 0 auto;
    }
    .presentation__list {
        grid-template-columns: 1fr 1fr;
    }
    .item__desc {
        font-size: 1.25rem;
    }
    .item__text {
        font-size: 1.125rem;
    }
}
