.security__section {
    margin-bottom: 100px;
}

.security__wrapper {
    min-height: 730px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1991eb;
}

/* .security__title-wrapper {
} */

.security__title {
    margin: 85px 0 100px;
    font-family: var(--first-family);
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 120%;
    color: #fff;
}

.security__content-items {
    margin-bottom: 100px;
    padding-right: 170px;
}

.security__items-wrapper {
    display: flex;
}

.left__item-img {
    margin-right: 58px;
}

.security__section-img {
    margin-top: -67px;
}

.right__item-text {
    max-width: 454px;
    padding-bottom: 46.5px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2rem;
    line-height: 112%;
    color: #fff;
}

.right__item-border {
    height: 2px;
    background-color: #00112c;
    opacity: 0.4;
    margin-bottom: 22px;
}

.right__item-text2 {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
}

.right__item-text3 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 150%;
    opacity: 0.5;
    color: #fff;
}

@media screen and (max-width: 1210px) {
    .security__content-items {
        padding-right: 80px;
    }
}

@media screen and (max-width: 1150px) {
    .security__wrapper {
        justify-content: inherit;
    }
    .security__title {
        margin-top: 30px;
        margin-bottom: 150px;
        font-size: 37px;
    }
    .security__content-items {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .security__items-wrapper {
        align-items: center;
        flex-direction: column;
    }
    .left__item-img {
        margin-right: 0;
    }
    .right__item-text {
        height: 210px;
        margin: 0 auto;
        padding-bottom: 0;
        display: flex;
        text-align: center;
        max-width: 60%;
        font-size: 16px;
        line-height: 36px;
    }
    .right__item-border {
        margin: 0 auto 22px;
        max-width: 90%;
    }
    .right__item-text2 {
        font-size: 12px;
        text-align: center;
    }
    .right__item-text3 {
        font-size: 12px;
        opacity: 0.5;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .security__section .container {
        position: relative;
        max-width: 1670px;
        margin: 0 auto;
        padding: 0 40px;
    }
    .security__section {
        margin-bottom: 20px;
    }
    .security__title {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 37px;
        height: 100px;
    }
    .security__content-items {
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .security__content-items {
        padding: 0;
    }
    .security__items-wrapper {
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .left__item-img {
        margin: 0;
    }
    .right__item-info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .right__item-text {
        max-width: 502px;
        text-align: center;
        font-size: 1rem;
        height: 210px;
        line-height: 36px;
    }
    .right__item-text2 {
        font-size: 12px;
    }
}
