.security__section {
    max-width: 100%;
    height: 730px;
}

.security__wrapper {
    width: 80%;
    max-width: 1470px;
    margin: 0 auto;
    justify-content: center;
    min-height: 730px;
    flex-direction: column;
    display: flex;
    background-color: #1991eb;
    align-items: center;
}

/* .security__title-wrapper {
} */

.security__title {
    height: 60px;
    max-width: 578px;
    margin-bottom: 100px;
    font-family: Open Sans, sans-serif;
    font-size: 44px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
}

.security__items-wrapper {
    display: flex;
    margin-bottom: 100px;
}

.security__section-img {
    max-width: 46%;
    margin-right: 58px;
    margin-top: -67px;
}

.right__item-info {
    display: flex;
    flex-direction: column;
}

.right__item-text {
    height: 210px;
    max-width: 454px;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    line-height: 36px;
    color: #fff;
}

.right__item-border {
    height: 2px;
    background-color: #00112c;
    opacity: 0.4;
    margin-bottom: 22px;
}

.right__item-text2 {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.right__item-text3 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 150%;
    opacity: 0.5;
    color: #fff;
}

.security__arrow-block {
    justify-content: center;
    display: flex;
    margin-top: 16px;
    margin-left: 170px;
}

@media screen and (max-width: 1566px) {
    .security__arrow-block {
        margin-left: 70px;
    }
}

@media screen and (max-width: 1200px) {
    .security__wrapper {
        width: 90%;
        text-align: center;
    }
    .security__title {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 37px;
        height: 100px;
    }
    .security__items-wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .security__section-img {
        max-width: 70%;
        margin: 0 auto;
    }
    .right__item-text {
        max-width: 60%;
        margin: 0 auto;
        font-size: 16px;
    }
    .right__item-text2 {
        font-size: 12px;
    }
}

@media screen and (max-width: 560px) {
    .security__section {
        padding-top: 0;
    }
    .right__item-text {
        align-items: center;
        display: flex;
        max-width: 85%;
    }
}
