.security__section {
    margin-bottom: 6.25rem;
}

.security__wrapper {
    min-height: 45.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1991eb;
}

/* .security__title-wrapper {
} */

.security__title {
    margin: 5.3125rem 0 6.25rem;
    font-family: var(--first-family);
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 120%;
    color: #fff;
}

.security__content-items {
    margin-bottom: 6.25rem;
    padding-right: 10.625rem;
}

.security__items-wrapper {
    display: flex;
}

.left__item-img {
    margin-right: 3.625rem;
}

.security__section-img {
    margin-top: -4.1875rem;
}

.right__item-text {
    max-width: 28.375rem;
    padding-bottom: 2.90625rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2rem;
    line-height: 112%;
    color: #fff;
}

.right__item-border {
    height: 2px;
    background-color: #00112c;
    opacity: 0.4;
    margin-bottom: 1.375rem;
}

.right__item-text2 {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
}

.right__item-text3 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 150%;
    opacity: 0.5;
    color: #fff;
}

@media (max-width: 56.25rem) {
    .security__section .container {
        position: relative;
        max-width: 1670px;
        margin: 0 auto;
        padding: 0 40px;
    }
    .security__section {
        margin-bottom: 1.25rem;
    }
    .security__title {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 37px;
        height: 100px;
    }
    .security__content-items {
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .security__content-items {
        padding: 0;
    }
    .security__items-wrapper {
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .left__item-img {
        margin: 0;
    }
    .right__item-info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .right__item-text {
        max-width: 31.375rem;
        text-align: center;
        font-size: 1rem;
        height: 210px;
        line-height: 36px;
    }
    .right__item-text2 {
        font-size: 12px;
    }
}
