.social-panel {
    position: fixed;
    width: 64px;
    height: 180px;
    top: 50%;
    left: -18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    background: #1991eb;
}
.social-panel:nth-child(2) {
    border-bottom: 1px solid #157bc9;
    border-top: 1px solid #157bc9;
}
.social-panel:hover {
    left: 0;
}

.socialPanel-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 48px;
    height: 48px;
}
.socialPanel-link:hover {
    transition: 0.3s ease-in-out;
    background: #157bc9;
}

.socialPanel-last-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    width: 48px;
    height: 48px;
}
.socialPanel-last-link:hover {
    transition: 0.3s ease-in-out;
    background: #157bc9;
}

.socialPanel-icons {
    filter: brightness(0) invert(1);
    max-width: 100%;
}

.topContent-img {
    height: 580px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-y: 120px;
}

.topContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 240px;
    margin: 0 auto;
    width: 60%;
    max-width: 1100px;
}

.topContent-category {
    height: 36px;
    width: 133px;
    background-color: #1991eb;
    border-radius: 18px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.topContent-title {
    width: 1081px;
    font-size: 52px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.block {
    width: 60%;
    height: 152px;
    max-width: 1100px;
    margin: 0 auto 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e2e3;
}

.left-side {
    display: flex;
    align-items: center;
}

.leftSide-img {
    width: 101px;
    height: 101px;
}

.leftSide-content {
    margin-left: 20px;
}

.leftSide-text {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    color: #73787c;
    text-align: left;
}

.author-name {
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    color: #000;
    text-align: left;
    font-weight: 700;
}

.author-position {
    font-size: 16px;
    color: #73787c;
    text-align: left;
    margin-bottom: 4px;
}

.right-side {
    display: flex;
}

.rightSide-linksWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSide-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    background: #1991eb;
    margin-right: 12px;
}

.rightSide-icons {
    filter: brightness(0) invert(1);
    max-width: 100%;
}

.rightSide-button {
    height: 36px;
    width: 141px;
    background-color: #fff;
    border: 2px solid #1991eb;
    border-radius: 4px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #1991eb;
    text-align: center;
    outline: none;
    margin-left: 23px;
}

.content {
    width: 60%;
    max-width: 1100px;
    margin: 0 auto;
}

.content-title {
    width: 80%;
    margin: 0 auto 36px;
    font-size: 36px;
    text-align: left;
    font-weight: 700;
    font-family: Open Sans, sans-serif;
    color: #000;
}

.descriptionImg-1 {
    max-width: 100%;
    margin-bottom: 52px;
    margin-top: 52px;
}

.descriptionImg-2 {
    max-width: 100%;
    margin-bottom: 52px;
    margin-top: 52px;
}

.description {
    color: #000;
}
.description p {
    margin-bottom: 32px !important;
    font-size: 20px;
    font-family: Open Sans;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
.description h3 {
    width: 80%;
    margin: 0 auto;
    font-size: 24px;
    color: #000;
    text-align: left;
    font-weight: 700;
    font-family: Open Sans, sans-serif;
    margin-bottom: 24px;
}

.relatedPost-wrapper {
    width: 60%;
    margin: 0 auto;
}

.relatedPost-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
}
.relatedPost-subtitle h3 {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    font-family: Open Sans, sans-serif;
    color: #000;
}
.relatedPost-subtitle span {
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
    font-family: Open Sans, sans-serif;
    color: #1991eb;
}

@media screen and (max-width: 1280px) {
    .topContent-title {
        width: auto;
    }
    .block {
        width: 80%;
    }
    .content {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .topContent-title {
        font-size: 38px;
    }
    .content-title {
        font-size: 38px;
    }
}

@media screen and (max-width: 820px) {
    .block {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .left-side {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .right-side {
        margin-bottom: 20px;
    }
    .content-title {
        font-size: 26px;
    }
}
