.link__panel {
    width: 100%;
    justify-content: center;
    height: 320px;
    flex-direction: column;
    display: flex;
    background-color: #e4f2fd;
    align-items: center;
}

.link__panel-imgWrapper {
    text-align: center;
}

@media screen and (max-width: 560px) {
    .link__panel-itemsWrapper {
        text-align: center;
    }
    .link__panel-blueBtn {
        width: 271px;
        height: 63px;
        font-size: 19px;
    }
}
