.link__panel-topBlock {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    background-color: #e4f2fd;
}

.top__block-img {
    margin: 4.46875rem 0 1.875rem;
}

.link__panel-blueBtn {
    width: 20rem;
    height: 4.5rem;
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 4.46875rem;
    font-family: var(--first-family);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    background-color: #1991eb;
    color: #fff;
}

.link__panel-bottomBlock {
    background-color: #488eff;
}

.link__panel-listBlock {
    padding: 1.5625rem 0;
}

.link__panel-list {
    display: flex;
    justify-content: space-around;
}

.link__panel-listItem {
    display: flex;
}

@media (max-width: 56.25rem) /* 900px */ {
    .adaptive__container {
        padding: 0 25px !important;
    }
}
