.get__started-section {
    margin-top: 40px;
    background-color: #f2f9ff;
}

.get__started-container {
    background-color: #e9f5ff;
    padding: 70px 15px;
}

.started__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
}

.started__items {
    display: flex;
}

.started__logo {
    display: flex;
    margin-right: 40px;
}

.started__content {
    min-height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 60px;
    border-left: 1px solid #d8dce3;
}

.started__desc {
    font-family: var(--first-family);
    font-weight: 700;
    font-size: 38px;
    color: #212529;
}

.started__link {
    margin-bottom: 16px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #212529;
}

@media screen and (max-width: 1024px) {
    .started__wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 765px) {
    .started__items {
        flex-direction: column;
    }
    .started__logo {
        max-width: 120px;
        margin: auto;
    }
    .started__content {
        padding-left: 0;
        margin-left: 0;
        border-left: 0;
        margin-top: 40px;
        padding-top: 30px;
        border-top: 1px solid #d8dce3;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .getStarted__blue-btn {
        height: 60px;
        width: 270px;
    }
}
