.get__started-section {
    padding: 4.375rem 0;
    background-color: #e9f5ff;
}

.started__wrapper {
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.started__items {
    display: flex;
}

.started__logo {
    display: flex;
    margin-right: 2.5rem;
}

.started__content {
    display: flex;
    flex-direction: column;
    padding-left: 3.75rem;
    border-left: 1px solid #d8dce3;
}

.started__desc {
    font-family: var(--first-family);
    font-weight: 700;
    font-size: 2.375rem;
    line-height: 150%;
    color: #212529;
}

.started__link a {
    text-decoration: none;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    color: #212529;
}
