/* HEADER BLUE BUTTON */
.header__nav-blueBtn {
    width: 180px;
    height: 48px;
    border: none;
    border-radius: 4px;
    font-family: var(--first-family);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    background-color: #1991eb;
    color: #fff;
}
.header__nav-blueBtn:hover {
    opacity: 0.7;
}

/* HERO BLUE BUTTON */
.hero__blue-btn {
    width: 100%;
    max-width: 440px;
    height: 72px;
    border: none;
    border-radius: 4px;
    font-family: var(--first-family);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    background-color: #1991eb;
    color: #fff;
    transition: all 0.2s ease-out;
}
.hero__blue-btn:focus:not(:focus-visible) {
    outline: 0;
}
.hero__blue-btn:active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    outline: none;
    box-shadow: none;
}
.hero__blue-btn:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    position: relative;
    color: #fff;
    box-shadow: 0 21px 43px -10px rgba(0, 0, 0, 0.3);
}

/* GET STARTED SECTION BUTTON */
.getStarted__blue-btn {
    width: 180px;
    height: 48px;
    border: none;
    border-radius: 4px;
    font-family: var(--first-family);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    background-color: #1991eb;
    color: #fff;
}
.getStarted__blue-btn:hover {
    opacity: 0.7;
}

/* LINK PANEL SECTION BUTTON */
.link__panel-blueBtn {
    width: 320px;
    height: 72px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    font-family: var(--first-family);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    background-color: #1991eb;
    color: #fff;
    transition: all 0.2s ease-out;
}
.link__panel-blueBtn:focus:not(:focus-visible) {
    outline: 0;
}
.link__panel-blueBtn:active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    outline: none;
    box-shadow: none;
}
.link__panel-blueBtn:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    position: relative;
    color: #fff;
    box-shadow: 0 21px 43px -10px rgba(0, 0, 0, 0.3);
}

/* DOWNLOAD BLUE BTN */
.download-button {
    width: 320px;
    height: 65px;
    font-size: 20px;
    font-weight: 700;
    font-family: Open Sans, sans-serif;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #1991eb;
}
.download-button:hover {
    opacity: 0.7;
}
