.hero {
    background-image: url('../../../assets/images/back.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero__wrapper {
    display: flex;
    margin: 0 auto;
    padding-top: 160px;
    min-height: 700px;
    max-width: 1470px;
    width: 80%;
}

.hero__left-block {
    display: flex;
    flex-direction: column;
    padding: 64px 0 0;
}

.hero__left-title {
    max-width: 850px;
    margin-bottom: 32px;
    font-family: var(--first-family); /* rename first-family to --open-sans */
    font-weight: 700;
    font-size: 4rem;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #00112c;
}

.hero__left-text {
    margin-bottom: 16px;
    font-family: var(--second-family); /* rename first-family to --montserrat */
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: -0.03em;
    color: #394249;
}

.hero__left-btn {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.hero__right-block {
    max-width: 47%;
}

.hero__img {
    max-width: 89%;
}

.hero__tablet-btn {
    display: none;
    width: 440px;
    transition: all 0.2s ease-out;
    height: 72px;
    font-weight: 700;
    font-size: 20px;
    font-family: Open Sans, sans-serif;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #1991eb;
}

@media screen and (max-width: 1525px) {
    .hero__left-title {
        line-height: 62px;
        font-size: 55px;
    }
    .hero__img {
        padding-left: 13%;
    }
}

@media screen and (max-width: 1365px) {
    .hero__left-btn {
        margin-top: 35px;
    }
    .hero__img {
        padding-left: 0;
    }
}

@media screen and (max-width: 1235px) {
    .hero__img {
        padding-left: 13%;
    }
}

@media screen and (max-width: 1050px) {
    .hero__wrapper {
        height: 550px;
    }
    .hero__left-title {
        line-height: 58px;
        font-size: 54px;
    }
    .hero__left-btn {
        display: none;
    }
    .hero__tablet-btn {
        display: block;
        margin-left: 9%;
    }
}

@media screen and (max-width: 900px) {
    .hero__wrapper {
        min-height: 650px;
        padding-top: 200px;
    }
    .hero__left-block {
        padding-top: 0;
        width: 50%;
    }
    .hero__left-title {
        line-height: 51px;
        font-size: 48px;
        margin-bottom: 10px;
    }
    .hero__left-text {
        margin-top: 24px;
    }
    .hero__left-btn {
        margin-top: 35%;
    }
    .hero__right-block {
        max-width: 50%;
        margin-top: 0;
    }
    .hero__img {
        padding-left: 10%;
        margin-top: -40px;
    }
}

@media screen and (max-width: 900px) {
    .hero__left-block {
        padding-top: 0;
        width: 50%;
    }
    .hero__left-title {
        line-height: 51px;
        font-size: 42px;
    }
    .hero__img {
        margin-top: -41px;
    }
}

@media screen and (max-width: 680px) {
    .hero__left-title {
        line-height: 43px;
        font-size: 36px;
    }
    .hero__img {
        margin-top: -40px;
        min-width: 250px;
    }
    .hero__tablet-btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 540px) {
    .hero__wrapper {
        min-height: 375px;
    }
    .hero__left-title {
        line-height: 35px;
        font-size: 31px;
    }
    .hero__left-text {
        margin-top: 32px;
        font-size: 19px;
    }
    .hero__img {
        min-width: 220px;
    }
    .hero__tablet-btn {
        height: 62px;
        width: 313px;
    }
}

@media screen and (max-width: 462px) {
    .hero__wrapper {
        min-height: 326px;
    }
    .hero__left-title {
        line-height: 33px;
        font-size: 27px;
    }
    .hero__left-text {
        margin-top: 11px;
        font-size: 16px;
    }
    .hero__img {
        min-width: 187px;
        padding: 0;
        margin-top: -16px;
    }
}

@media screen and (max-width: 435px) {
    .hero__left-title {
        font-size: 26px;
        line-height: 30px;
    }
}

@media screen and (max-width: 400px) {
    .hero__wrapper {
        min-width: 90%;
    }
    .hero__left-block {
        margin-right: 30px;
    }
    .hero__left-title {
        line-height: 22px;
        font-size: 18px;
    }
    .hero__left-text {
        margin-top: 11px;
        font-size: 15px;
        line-height: 20px;
    }
    .hero__img {
        min-width: 150px;
    }
    .hero__tablet-btn {
        width: 280px;
    }
}

@media screen and (max-width: 350px) {
    .hero__wrapper {
        max-width: 84%;
        padding-top: 147px;
    }
    .hero__left-text {
        font-size: 13px;
    }
    .hero__img {
        min-width: 130px;
    }
}
