.hero {
    padding-top: 100px;
    background-image: url('../../../assets/images/back.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero__wrapper {
    display: flex;
    /* min-height: calc(100vh - 7.5rem); */
    padding-top: 3.75rem;
}

.hero__left-block {
    display: flex;
    flex-direction: column;
    padding: 4rem 5rem 0 0;
}

.hero__left-title {
    max-width: 53.125rem;
    margin-bottom: 2rem;
    max-width: 850px;
    font-family: var(--first-family); /* rename first-family to --open-sans */
    font-weight: 700;
    font-size: 4rem;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #00112c;
}

.hero__left-text {
    margin-bottom: 6.875rem;
    font-family: var(--second-family); /* rename first-family to --montserrat */
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: -0.03em;
    color: #394249;
}

.hero__right-block {
    height: 705px;
    padding-top: 4rem;
}

.hero__img {
    max-width: 100%;
}

/* @media screen and (max-width: 1525px) {
    
} */

@media screen and (max-width: 1525px) {
    .hero__left-block {
        padding: 4rem 0;
    }

    .hero__left-title {
        max-width: 700px;
        line-height: 62px;
        font-size: 55px;
    }

    .hero__left-text {
        margin-bottom: 4.875rem;
    }

    .hero__right-block {
        padding-left: 10%;
    }
}

@media screen and (max-width: 1364px) {
    .hero__left-text {
        margin-bottom: 2.875rem;
    }

    .hero__right-block {
        padding-top: 2rem;
        padding-left: 0;
    }
    .hero__img {
        max-height: 100vh;
    }
}

@media screen and (max-width: 1175px) {
    .hero__left-title {
        max-width: 550px;
    }
}

@media screen and (max-width: 1165px) {
    .hero__left-text {
        margin-bottom: 9.875rem;
    }
}

@media (max-width: 56.25rem) /* 900px */ {
    .hero__left-title {
        width: 80%;
        line-height: 51px;
        font-size: 48px;
    }
    .hero__right-block {
        padding-top: 3rem;
        min-width: 40%;
        padding-left: 0;
    }
}
