.presentation__title {
    max-width: 886px;
    font-family: var(--first-family);
    font-weight: 700;
    font-size: 3rem;
    line-height: 120%;
    text-align: center;
    color: #2b323e;
    margin: 100px 0 42px;
}

.management__title {
    min-height: 64px;
    font-family: Open Sans, sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
    color: #2b323e;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 56px;
}

.timetracking__title {
    margin-bottom: 100px;
    font-family: var(--first-family);
    font-weight: 700;
    font-size: 52px;
    line-height: 1.2;
    text-align: center;
    color: #2b323e;
}

.recommendation__title {
    font-family: var(--first-family);
    font-weight: 700;
    font-size: 3.25rem;
    line-height: 120%;
    text-align: center;
    color: #2b323e;
}
