.management {
    margin-bottom: 165px;
}

.management__wrapper {
    padding-top: 100px;
}

.management__dual-block {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Два столбца равной ширины */
    grid-gap: 47px;
}

.management__left-block {
    background-image: url('../../../assets/images/management-background-iamge.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.management__leftBlock-img {
    width: 100%;
    /* margin-left: 4%; */
    margin-top: -2%;
}

.management__right-block {
    display: flex;
    flex-direction: column;
}

.management__list {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

@media screen and (max-width: 1285px) {
    .management__dual-block {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }
    .management__left-block {
        width: 100%;
    }
    .management__right-block {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1150px) {
    .management__wrapper {
        padding-top: 52px;
    }
}

@media (max-width: 900px) {
    .management {
        margin-bottom: 37px;
    }
    .management__dual-block {
        display: flex;
        flex-direction: column;
    }
}
