.management {
    padding: 50px 0 0;
    width: 80%;
    max-width: 1470px;
    margin: 0 auto;
}

/* .management__wrapper {
    padding-top: 100px;
} */

.management__dual-block {
    display: flex;
}

.management__left-block {
    background-image: url('../../../assets/images/management__back.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    width: 50%;
}

.management__leftBlock-img {
    max-width: 92%;
    margin-left: 4%;
    margin-top: -2%;
    box-shadow: 5px 1px 24px 0 hsla(0, 2%, 40%, 0.6509803921568628);
}

.management__right-block {
    margin-left: 2%;
    width: 50%;
}

@media screen and (max-width: 1285px) {
    .management__dual-block {
        flex-wrap: wrap;
        gap: 0;
    }
    .management__left-block {
        width: 100%;
        background-size: contain;
    }
    .management__right-block {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .management__title {
        font-size: 42px;
        margin-top: 20px;
    }
    .management__left-block {
        height: 450px;
    }
}

@media screen and (max-width: 560px) {
    .management {
        width: 90%;
    }
    .management__title {
        font-size: 38px;
    }
    .management__left-block {
        height: 320px;
    }
}

@media screen and (max-width: 520px) {
    .management__item-desc {
        font-size: 19px !important;
    }
}
