.management {
    margin-bottom: 10.3125rem;
}

.management__wrapper {
    padding-top: 6.25rem;
}

.management__dual-block {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Два столбца равной ширины */
    grid-gap: 2.9375rem; /* Расстояние между блоками */
}

.management__leftBlock-img {
    width: 95%;
    margin-left: 4%;
    margin-top: -2%;
}

.management__right-block {
    display: flex;
    flex-direction: column;
}

.management__list {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
