.recommendation__section {
    padding: 2.8125rem 0 7rem;
    background-color: #f8f8f8;
}

.recommendation__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommendation__img-link {
    margin-top: 5px;
}

.recommendation__desc-text {
    margin-top: 5px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 150%;
    color: #999;
    margin-bottom: 3.125rem;
}
