.recommendation__section {
    padding: 45px 0 112px;
    background-color: #f8f8f8;
}

.recommendation__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommendation__img-link {
    margin-top: 5px;
}

.recommendation__desc-text {
    margin-top: 5px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 150%;
    color: #999;
    margin-bottom: 50px;
}
