.recommendation__section {
    padding-top: 50px;
    margin-top: 100px;
    overflow: hidden;
    height: 760px;
    flex-direction: column;
    display: flex;
    background: #f8f8f8;
}

.recommendation__title {
    width: 80%;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 auto;
    height: 64px;
    font-weight: 700;
    font-size: 52px;
    font-family: Open Sans, sans-serif;
    color: #2b323e;
}

.links-wrapper {
    display: flex;
    align-items: center;
    margin: 25px auto 0;
}

.recommendation__img-link {
    margin-right: 23px;
}

.recommendation__desc-text {
    padding-bottom: 50px;
    margin: 25px auto 0;
    font-weight: 500;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    color: #999;
}

.responsive {
    height: 42px;
}

@media screen and (max-width: 870px) {
    .recommendation__title {
        font-size: 37px;
    }

    .recommendation__desc-text {
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width: 560px) {
    .recommendation__section {
        padding-bottom: 100px;
    }
    .recommendation__title {
        font-size: 28px;
    }
    .recommendation__img-link {
        width: 160px;
    }
    .recommendation-linkImg {
        width: 90%;
    }
    .responsive {
        height: 35px;
    }
}

@media screen and (max-width: 422px) {
    .links-wrapper {
        max-width: 70%;
    }
    .recommendation__img-link {
        margin-right: 5px;
    }
    .responsive {
        max-width: 80%;
        height: 30px;
        font-size: 12px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 360px) {
    .recommendation-linkImg {
        height: 25px;
    }
}

@media screen and (max-width: 390px) {
    .responsive {
        max-width: 70%;
        height: 25px;
        font-size: 10px;
    }
}

@media screen and (max-width: 325px) {
    .links-wrapper {
        flex-direction: column;
    }
    .links-wrapper {
        margin-top: 65px;
    }
    .recommendation-linkImg {
        display: none;
    }
    .link-to-blogPage {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 270px) {
    .recommendation-linkImg {
        margin-bottom: 2px;
    }
    .responsive {
        font-size: 8px;
        max-height: 100%;
    }
}

@media screen and (max-width: 250px) {
    .recommendation-linkImg {
        margin-bottom: 3px;
    }
}
