#header {
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    transition: all 0.15s ease-in-out;
    background: #fff;
}
#header:hover {
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.10196078431372549);
}

.header-fixed {
    /* background: #fff !important; */
    height: 80px !important;
    border-bottom: 1px solid #e1e2e3;
    box-shadow: 0px 7px 25px 0px #0000001a;
    position: fixed;
    transition: all 0.15s ease-in-out;
    top: 0;
}

.header__wrapper {
    max-width: 1470px;
    width: 80%;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    align-items: center;
    min-height: 100%;
    margin: 0 auto;
    width: 100%;
}

.header__nav-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    transition: all 0.4s;
}
.header-logo:hover {
    opacity: 0.7;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.header__nav-download {
    position: relative;
    text-decoration: none;
    font-family: var(--first-family);
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #00112c;
}
.header__nav-download::after {
    width: 120px;
    height: 55px;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    display: none;
    text-align: center;
    line-height: 21px;
    z-index: -1;
    border-radius: 15px;
}
.header__nav-download:hover::after {
    display: block;
}
.header__nav-download:hover {
    color: #1991eb;
    z-index: 1;
}

.header__nav-actions {
    width: 31%;
    margin-left: 50px;
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
    align-items: center;
}

.header__nav-greyBtn {
    border: 2px solid #a0abba;
    border-radius: 4px;
    width: 120px;
    height: 48px;
    text-align: center;
    font-family: var(--first-family);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    background: #fff;
    color: #a0abba;
}
.header__nav-greyBtn:hover {
    color: grey;
    border-color: grey;
}

.mobile-menu {
    display: none;
}

#burger-menu {
    width: 42px;
    height: 30px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
#burger-menu span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #1991eb;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
#burger-menu span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#burger-menu span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#burger-menu span:nth-child(1),
#burger-menu span:nth-child(2) {
    top: 0px;
}

#burger-menu span:nth-child(3),
#burger-menu span:nth-child(4) {
    top: 12px;
}

#burger-menu span:nth-child(5),
#burger-menu span:nth-child(6) {
    top: 24px;
}

#burger-menu.open span:nth-child(1),
#burger-menu.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#burger-menu.open span:nth-child(2),
#burger-menu.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#burger-menu.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}

#burger-menu.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#burger-menu.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#burger-menu.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#burger-menu.open span:nth-child(5) {
    left: 5px;
    top: 18px;
}

#burger-menu.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 18px;
}

.loginStore-userInfoWrapper {
    margin-left: 50px;
    padding: 3px;
    height: 30px;
    width: 55px;
    border-radius: 5px;
    font-weight: 500;
    user-select: none;
    color: #fff;
    background-color: #1991eb;
}

.loginStore-userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Open Sans';
}

.log-out-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    width: 100px;
    border-radius: 5px;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    line-height: 26px;
    font-size: 16px;
    font-family: 'Open Sans';
    color: #fff;
    background-color: #1991eb;
}

/* .header__burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 43px;
    height: 43px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.header__burger span {
    height: 5px;
    width: 100%;
    border-radius: 9px;
    transform: scale(1);
    background-color: #1991eb;
}
.header__burger::before,
.header__burger::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 9px;
    background-color: #1991eb;
    transition: all 0.3s ease 0s;
}
.header__burger::before {
    top: 7px;
}
.header__burger::after {
    bottom: 7px;
}
.header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.header__burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
} */

@media (max-width: 1435px) {
    .header__nav-logo {
        width: 156px;
    }
}

@media (max-width: 1080px) {
    .mobile-menu {
        display: block;
    }
    .header__nav-download,
    .header__nav-download::after {
        display: none !important;
    }
    .header__nav-actions {
        display: none;
    }
}

@media (max-width: 350px) {
    .header__nav-logo {
        width: 165px;
    }
}

@media (max-width: 300px) {
    .header__nav-logo {
        width: 80%;
    }
    .header__burger {
        height: 35px;
        width: 15%;
    }
    .header__burger::before {
        height: 4px;
    }
    .header__burger span {
        height: 4px;
    }
    .header__burger::after {
        height: 4px;
    }
}
