.presentation {
    margin-top: 60px;
    padding-top: 6.25rem;
    margin-bottom: 6.25rem;
    padding-bottom: 4.125rem;
    max-width: 100%;
}

.presentation__container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 100px;
}

@media (max-width: 56.25rem) /* 900px */ { 
    .presentation__container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}