.presentation {
    margin-top: 50px;
    max-width: 100%;
}

.presentation__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation__list-wrapper {
    margin: 50px auto 100px;
    width: 80%;
}

@media (max-width: 1085px) {
    .presentation {
        margin-top: 150px;
    }
}

@media (max-width: 560px) {
    .presentation {
        margin-top: 50px;
    }
    .presentation__title-wrapper {
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}
