.presentation {
    margin-top: 60px;
    padding-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 66px;
    max-width: 100%;
}

.presentation__container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 100px;
}

@media (max-width: 900px) { 
    .presentation__container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}