.footer {
    background-color: #16143d;
}

.footer__wrapper {
    padding: 5rem 0 3.125rem;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3.5rem;
}

.footer__first-block {
    margin-top: -1.25rem;
}

.first__block-text {
    font-family: var(--third-family);
    max-width: 150px;
    margin-top: 2.5rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
}

.first__block-imagesWrapper {
    display: flex;
    column-gap: 0.625rem;
    margin-top: 3.75rem;
}

.first__block-images {
    width: 1.875rem;
    height: 1.875rem;
}

.footer__list-subtitleLink {
    font-family: var(--third-family);
    margin-bottom: 3.125rem;
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 129%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}

.footer__list-text {
    font-family: var(--third-family);
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: 0.13em;
    color: #fff;
}

.footer__list-lastText {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: 0.13em;
    color: #fff;
}

.footer__lastBlock-images {
    display: flex;
    margin-top: 2.5rem;
    column-gap: 0.625rem;
}

.footer__bottom-border {
    margin: 0 auto 2.625rem;
    border-top: 1px solid rgba(168, 168, 168, 0.3);
    max-width: 83.75rem;
    height: 1px;
}

.footer-copyright {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 147%;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 1410px) {
    .adaptive__container {
        padding: 0 !important;
    }
}

@media screen and (max-width: 1290px) {
    .footer__first-block,
    .footer__second-block,
    .footer__third-block,
    .footer__fourth-block {
        padding: 0 25px;
    }
    .footer__content {
        display: flex;
        justify-content: space-between;
    }
}
