.footer {
    background-color: #16143d;
}

.footer__wrapper {
    padding: 80px 0 50px;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 56px;
}

.footer__first-block {
    margin-top: -20px;
}

.first__block-text {
    font-family: var(--third-family);
    max-width: 150px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    color: #fff;
}

.first__block-imagesWrapper {
    display: flex;
    column-gap: 10px;
    margin-top: 60px;
}

.first__block-images {
    width: 30px;
    height: 30px;
}

.footer__list-subtitleLink {
    font-family: var(--third-family);
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 129%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}

.footer__list-text {
    font-family: var(--third-family);
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: 0.13em;
    color: #fff;
}

.footer__list-lastText {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: 0.13em;
    color: #fff;
}

.footer__lastBlock-images {
    display: flex;
    margin-top: 40px;
    column-gap: 10px;
}

.border__container {
    margin: 0 auto;
    padding: 0 50px;
}

.footer__bottom-border {
    margin: 0 auto 42px;
    border-top: 1px solid rgba(168, 168, 168, 0.3);
    max-width: 100%;
    height: 1px;
}

.footer-copyright {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 147%;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 1410px) {
    .adaptive__container {
        padding: 0 !important;
    }
}

@media screen and (max-width: 1290px) {
    .footer__first-block,
    .footer__second-block,
    .footer__third-block,
    .footer__fourth-block {
        padding: 0 25px;
    }
    .footer__content {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1025px) {
    .footer__content {
        flex-direction: column;
        padding-bottom: 26px;
    }
    .footer__first-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .first__block-text {
        max-width: none;
        margin-top: 12px;
    }
    .footer__second-block {
        margin-top: 38px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__third-block {
        margin-top: 38px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__fourth-block {
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__list-lastText {
        margin-bottom: 16px;
    }
}
