.new__card-wrapper {
    margin: 0 35px;
    padding: 59px 0;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 400px;
    background-color: #fff;
}

.new__card-text {
    margin: 0 auto;
    width: 80%;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #73787c;
}

.new__card-stars-wrapper {
    display: flex;
    align-items: center;
    margin: auto 0 20px 56px;
}

.new__card-stars {
    margin-right: 6px;
    height: 30px;
}

.card__specialist-name {
    margin-left: 64px;
    margin-bottom: 8.8px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 120%;
    color: #2b323e;
}

.card__specialist-position {
    margin-left: 64px;
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 150%;
    color: #73787c;
}

@media screen and (max-width: 1505px) {
    .new__card-wrapper {
        min-height: 400px;
    }
    .new__card-text {
        font-size: 0.875rem; /* 14px */
    }
    .new__card-stars-wrapper {
        margin: auto 0 20px 80px;
    }
    .card__specialist-name {
        margin-left: 80px;
    }
    .card__specialist-position {
        margin-left: 80px;
    }
}